name: Test

on: [push, pull_request]

permissions: read-all

jobs:
  test_linux:
    name: Test - Ubuntu Node 24
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: "${{ matrix.node-version }}"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run tests

  test_windows:
    name: Test - Windows
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test

  test_mac:
    name: Test - MacOs
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies and link
        run: npm ci && npm link
      - name: Run tests
        run: npm run test
